.version.humanities /* version checker */
{
	color: #0000FE;
	background-color: #E49E54;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 465px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 32px;
	padding-bottom: 3px;
	margin-left: auto;
	margin-right: auto;
}

#pu26560
{
	width: 0.01px;
	margin-left: 59px;
}

#u26560
{
	z-index: 49;
	width: 403px;
	height: 264px;
	margin-right: -10000px;
}

#u26560:hover
{
	width: 403px;
	height: 264px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26560:active
{
	width: 403px;
	height: 264px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26560.MuseLinkActive
{
	width: 403px;
	height: 264px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26554
{
	z-index: 47;
	width: 435px;
	margin-right: -10000px;
	left: 403px;
}

#u6016-4
{
	z-index: 50;
	display: block;
	vertical-align: top;
	margin-left: 44px;
	margin-top: 194px;
	position: relative;
}

#pu26341
{
	width: 0.01px;
	margin-left: 397px;
	margin-top: 174px;
}

#u26341
{
	z-index: 44;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
}

#u26341:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26363
{
	z-index: 45;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	left: 58px;
}

#u26341:active,#u26363:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26385
{
	z-index: 46;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	left: 116px;
}

#u26363:active,#u26385:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26385:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6782
{
	z-index: 2;
	width: 960px;
	height: 1px;
	margin-top: 8px;
}

#menuu12011
{
	z-index: 3;
	width: 442px;
	margin-left: 259px;
	margin-top: 8px;
}

#u12019
{
	width: 46px;
	min-height: 12px;
	margin-right: -10000px;
	left: 10px;
}

#u12022
{
	width: 45px;
}

#u12022:hover
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12022:active
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12022.MuseMenuActive
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12025-4
{
	width: 35px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12022:hover #u12025-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12022:active #u12025-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12022.MuseMenuActive #u12025-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12055
{
	width: 80px;
	min-height: 12px;
	margin-right: -10000px;
	left: 58px;
}

#u12058
{
	width: 79px;
}

#u12058:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12058:active
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12058.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12060-4
{
	width: 69px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12058:hover #u12060-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12058:active #u12060-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12058.MuseMenuActive #u12060-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12012
{
	width: 71px;
	min-height: 12px;
	margin-right: -10000px;
	left: 140px;
}

#u12013
{
	width: 70px;
}

#u12013:hover
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12013:active
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12013.MuseMenuActive
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12016-4
{
	width: 60px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12013:hover #u12016-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12013:active #u12016-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12013.MuseMenuActive #u12016-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12062
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	left: 213px;
}

#u12063
{
	width: 50px;
}

#u12063:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12063:active
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12063.MuseMenuActive
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12064-4
{
	width: 40px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12063:hover #u12064-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12063:active #u12064-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12063.MuseMenuActive #u12064-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12048
{
	width: 63px;
	min-height: 12px;
	margin-right: -10000px;
	left: 266px;
}

#u12049
{
	width: 62px;
}

#u12049:hover
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12049:active
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12049.MuseMenuActive
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12050-4
{
	width: 52px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12049:hover #u12050-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12049:active #u12050-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12049.MuseMenuActive #u12050-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12026
{
	width: 100px;
	min-height: 12px;
	margin-right: -10000px;
	left: 331px;
}

#u12027
{
	width: 100px;
}

#u12027.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u12028-4
{
	width: 90px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12027:hover #u12028-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 90px;
	margin: 0px;
}

#u12027.MuseMenuActive #u12028-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 90px;
	margin: 0px;
}

#u12619-4
{
	z-index: 40;
	width: 644px;
	min-height: 19px;
	margin-left: 156px;
	margin-top: 2px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 3px;
}

