.version.index /* version checker */
{
	color: #0000FE;
	background-color: #E5B2FE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 436px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-top: 62px;
	padding-bottom: 2px;
	margin-left: auto;
	margin-right: auto;
}

#pu25957
{
	width: 0.01px;
	margin-left: 119px;
}

#u25957
{
	z-index: 48;
	width: 370px;
	height: 720px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/indexmain%2020%20s-normal.png") no-repeat left top;
	background-size: contain;
}

#u25957:hover
{
	width: 370px;
	height: 720px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/indexmain%2020%20s-rollover.png") no-repeat left top;
	background-size: contain;
}

#u25957:active
{
	width: 370px;
	height: 720px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/indexmain%2020%20s-down.png") no-repeat left top;
	background-size: contain;
}

#u25935
{
	z-index: 47;
	width: 352px;
	height: 720px;
	position: relative;
	margin-right: -10000px;
	left: 370px;
	background: transparent url("../images/indexmain%2020%20h-normal.png") no-repeat left top;
	background-size: contain;
}

#u25935:hover
{
	width: 352px;
	height: 720px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/indexmain%2020%20h-rollover.png") no-repeat left top;
	background-size: contain;
}

#u25935:active
{
	width: 352px;
	height: 720px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/indexmain%2020%20h-down.png") no-repeat left top;
	background-size: contain;
}

#pu26278
{
	width: 0.01px;
	margin-left: 398px;
	margin-top: 8px;
}

#u26278
{
	z-index: 44;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
}

#u26278:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26278:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26279
{
	z-index: 45;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	left: 58px;
}

#u26278.MuseLinkActive,#u26279:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26279:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26280
{
	z-index: 46;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	left: 115px;
}

#u26279.MuseLinkActive,#u26280:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26280:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26280.MuseLinkActive
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5544
{
	z-index: 2;
	width: 960px;
	height: 1px;
	margin-top: 8px;
}

#menuu12243
{
	z-index: 3;
	width: 442px;
	margin-left: 259px;
	margin-top: 8px;
}

#u12251
{
	width: 46px;
	min-height: 12px;
	margin-right: -10000px;
	left: 10px;
}

#u12254
{
	width: 45px;
}

#u12254:hover
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12254:active
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12254.MuseMenuActive
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12257-4
{
	width: 35px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12254:hover #u12257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12254:active #u12257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12254.MuseMenuActive #u12257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12287
{
	width: 80px;
	min-height: 12px;
	margin-right: -10000px;
	left: 58px;
}

#u12290
{
	width: 79px;
}

#u12290:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12290:active
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12290.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12292-4
{
	width: 69px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12290:hover #u12292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12290:active #u12292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12290.MuseMenuActive #u12292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12244
{
	width: 71px;
	min-height: 12px;
	margin-right: -10000px;
	left: 140px;
}

#u12245
{
	width: 70px;
}

#u12245:hover
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12245:active
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12245.MuseMenuActive
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12248-4
{
	width: 60px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12245:hover #u12248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12245:active #u12248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12245.MuseMenuActive #u12248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12294
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	left: 213px;
}

#u12295
{
	width: 50px;
}

#u12295:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12295:active
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12295.MuseMenuActive
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12296-4
{
	width: 40px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12295:hover #u12296-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12295:active #u12296-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12295.MuseMenuActive #u12296-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12280
{
	width: 63px;
	min-height: 12px;
	margin-right: -10000px;
	left: 266px;
}

#u12281
{
	width: 62px;
}

#u12281:hover
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12281:active
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12281.MuseMenuActive
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12282-4
{
	width: 52px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12281:hover #u12282-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12281:active #u12282-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12281.MuseMenuActive #u12282-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12258
{
	width: 100px;
	min-height: 12px;
	margin-right: -10000px;
	left: 331px;
}

#u12259
{
	width: 100px;
}

#u12259.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u12260-4
{
	width: 90px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12259:hover #u12260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 90px;
	margin: 0px;
}

#u12259.MuseMenuActive #u12260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 90px;
	margin: 0px;
}

#u12623-4
{
	z-index: 40;
	width: 644px;
	min-height: 19px;
	margin-left: 156px;
	margin-top: 2px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 3px;
}

