.version.nature_visitor_centers /* version checker */
{
	color: #00000B;
	background-color: #71B839;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.96679748822544px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 1px;
	padding-bottom: 2px;
	width: 0.01px;
}

#u26293-3
{
	z-index: 54;
	width: 960px;
	height: 285px;
	margin-right: -10000px;
}

#u26294
{
	z-index: 57;
	width: 403px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 78px;
}

#u26296
{
	z-index: 59;
	width: 435px;
	height: 264px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 481px;
}

#u26296:hover
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u26296:active
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u26296.MuseLinkActive
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u4478
{
	z-index: 7;
	width: 960px;
	height: 1px;
}

#pu26293-3,#pu13272
{
	width: 0.01px;
}

#u13272
{
	z-index: 49;
	width: 320px;
	margin-right: -10000px;
}

#u13272_img
{
	padding-right: 8px;
}

#u4474
{
	z-index: 4;
	width: 640px;
	margin-right: -10000px;
	left: 320px;
}

#u4477
{
	z-index: 5;
	width: 320px;
	height: 34px;
	margin-right: -10000px;
}

#u4477:hover
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4477:active
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4475
{
	z-index: 6;
	width: 320px;
	height: 34px;
	margin-right: -10000px;
	left: 320px;
}

#u4477.MuseLinkActive,#u4475:hover
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4475:active
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4475.MuseLinkActive
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4550
{
	z-index: 3;
	width: 960px;
	height: 1px;
	margin-top: 1px;
}

#u18125
{
	z-index: 146;
	width: 960px;
	background-color: transparent;
	left: -1px;
	margin-top: 4px;
	position: relative;
}

#u5377-4
{
	z-index: 134;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 9px;
	position: relative;
}

#u18904
{
	z-index: 149;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 9px;
	position: relative;
}

#u5366-12
{
	z-index: 80;
	width: 331px;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
}

#u5271
{
	z-index: 64;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 11px;
	position: relative;
}

#u5270-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 10px;
	position: relative;
}

#pu5367-11
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 9px;
}

#u5367-11
{
	z-index: 92;
	width: 356px;
	min-height: 326px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5367-7
{
	font-style: italic;
}

#u18902
{
	z-index: 148;
	width: 560px;
	min-height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 401px;
}

#u18989
{
	z-index: 150;
	width: 959px;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#u5274-4
{
	z-index: 66;
	display: block;
	vertical-align: top;
	left: -3px;
	margin-top: 17px;
	position: relative;
}

#u5273
{
	z-index: 65;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	left: -1px;
	margin-top: 8px;
	position: relative;
}

#u14231
{
	z-index: 138;
	width: 960px;
	background-color: transparent;
	left: -1px;
	margin-top: 11px;
	position: relative;
}

#u14237
{
	z-index: 140;
	width: 961px;
	background-color: transparent;
	left: -1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u5368-7
{
	z-index: 103;
	width: 955px;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#u14223-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
}

#u5278
{
	z-index: 78;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	left: -1px;
	margin-top: 8px;
	position: relative;
}

#pu14249-13
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 14px;
}

#u14249-13
{
	z-index: 110;
	width: 749px;
	min-height: 108px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u14249-5,#u14249-8
{
	color: #2DBB31;
}

#u14243
{
	z-index: 142;
	width: 960px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
}

#u14250
{
	z-index: 144;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 771px;
}

#u14250_img
{
	padding-bottom: 34px;
}

#u5279
{
	z-index: 79;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 17px;
	position: relative;
}

#u5275-4
{
	z-index: 74;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 8px;
	position: relative;
}

#u5369-11
{
	z-index: 123;
	width: 955px;
	background-color: transparent;
	text-align: justify;
	margin-left: 5px;
	margin-top: 5px;
	position: relative;
}

#u5369-4,#u5369-7
{
	font-weight: normal;
}

#u23729
{
	z-index: 152;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 6px;
	position: relative;
}

#u23730-4
{
	z-index: 153;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 8px;
	position: relative;
}

#u23731
{
	z-index: 157;
	width: 961px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -1px;
	margin-top: 9px;
	position: relative;
}

#slideshowu23732
{
	z-index: 158;
	width: 0.01px;
	height: 256px;
	margin-left: 1px;
	position: relative;
}

#u23780-4
{
	position: absolute;
	width: 70px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 445px;
}

#u23780-4popup
{
	z-index: 159;
}

#u23734
{
	position: absolute;
	width: 960px;
	height: 163px;
	background-color: transparent;
}

#u23734popup
{
	z-index: 163;
}

#u23735
{
	z-index: 164;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23741
{
	z-index: 166;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23757
{
	z-index: 168;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23743
{
	z-index: 170;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23755
{
	z-index: 172;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23761
{
	z-index: 174;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23737
{
	z-index: 176;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23759
{
	z-index: 178;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23753
{
	z-index: 180;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23751
{
	z-index: 182;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23745
{
	z-index: 184;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23749
{
	z-index: 186;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23747
{
	z-index: 188;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23739
{
	z-index: 190;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23763
{
	position: absolute;
	width: 945px;
	background-color: transparent;
	top: 177px;
	left: 7px;
}

#u23763popup
{
	z-index: 192;
}

#u23769-4
{
	z-index: 193;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23771-4
{
	z-index: 197;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23776-4
{
	z-index: 201;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23768-4
{
	z-index: 205;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23777-4
{
	z-index: 209;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23767-4
{
	z-index: 213;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23766-4
{
	z-index: 217;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23774-4
{
	z-index: 221;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23773-4
{
	z-index: 225;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23772-4
{
	z-index: 229;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23764-4
{
	z-index: 233;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23775-4
{
	z-index: 237;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23765-4
{
	z-index: 241;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23770-4
{
	z-index: 245;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23769-4:hover,#u23771-4:hover,#u23776-4:hover,#u23768-4:hover,#u23777-4:hover,#u23767-4:hover,#u23766-4:hover,#u23774-4:hover,#u23773-4:hover,#u23772-4:hover,#u23764-4:hover,#u23775-4:hover,#u23765-4:hover,#u23770-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 945px;
	margin: 0px -10000px 0px 0px;
}

#u23781-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 373px;
}

#u23781-4popup
{
	z-index: 249;
}

#u23733-4
{
	position: absolute;
	width: 30px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 415px;
}

#u23733-4popup
{
	z-index: 253;
}

#u23812-4
{
	position: absolute;
	width: 30px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 515px;
}

#u23733-4:hover,#u23812-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 30px;
	margin: 0px;
}

#u23812-4popup
{
	z-index: 257;
}

#u23782-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 556px;
}

#u23781-4:hover,#u23782-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 30px;
	margin: 0px;
}

#u23782-4popup
{
	z-index: 261;
}

#u23769-4:hover p,#u23771-4:hover p,#u23776-4:hover p,#u23768-4:hover p,#u23777-4:hover p,#u23767-4:hover p,#u23766-4:hover p,#u23774-4:hover p,#u23773-4:hover p,#u23772-4:hover p,#u23764-4:hover p,#u23775-4:hover p,#u23765-4:hover p,#u23770-4:hover p,#u23781-4:hover p,#u23733-4:hover p,#u23812-4:hover p,#u23782-4:hover p
{
	color: #2DBB31;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u23831
{
	z-index: 265;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	top: -47px;
	margin-bottom: -1px;
	position: relative;
}

#pu26269
{
	width: 0.01px;
	margin-left: 398px;
	margin-top: 7px;
}

#u26269
{
	z-index: 51;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
}

#u26269:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26269:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26270
{
	z-index: 52;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	left: 58px;
}

#u26269.MuseLinkActive,#u26270:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26270:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26271
{
	z-index: 53;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	left: 115px;
}

#u26270.MuseLinkActive,#u26271:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26271:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26271.MuseLinkActive
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4479
{
	z-index: 2;
	width: 960px;
	height: 1px;
	margin-top: 8px;
}

#menuu12069
{
	z-index: 8;
	width: 442px;
	margin-left: 259px;
	margin-top: 8px;
}

#u12077
{
	width: 46px;
	min-height: 12px;
	margin-right: -10000px;
	left: 10px;
}

#u12080
{
	width: 45px;
}

#u12080:hover
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12080:active
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12080.MuseMenuActive
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12083-4
{
	width: 35px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12080:hover #u12083-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12080:active #u12083-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12080.MuseMenuActive #u12083-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12113
{
	width: 80px;
	min-height: 12px;
	margin-right: -10000px;
	left: 58px;
}

#u12116
{
	width: 79px;
}

#u12116:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12116:active
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12116.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12118-4
{
	width: 69px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12116:hover #u12118-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12116:active #u12118-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12116.MuseMenuActive #u12118-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12070
{
	width: 71px;
	min-height: 12px;
	margin-right: -10000px;
	left: 140px;
}

#u12071
{
	width: 70px;
}

#u12071:hover
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12071:active
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12071.MuseMenuActive
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12074-4
{
	width: 60px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12071:hover #u12074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12071:active #u12074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12071.MuseMenuActive #u12074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12120
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	left: 213px;
}

#u12121
{
	width: 50px;
}

#u12121:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12121:active
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12121.MuseMenuActive
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12122-4
{
	width: 40px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12121:hover #u12122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12121:active #u12122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12121.MuseMenuActive #u12122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12106
{
	width: 63px;
	min-height: 12px;
	margin-right: -10000px;
	left: 266px;
}

#u12107
{
	width: 62px;
}

#u12107:hover
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12107:active
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12107.MuseMenuActive
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12108-4
{
	width: 52px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12107:hover #u12108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12107:active #u12108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12107.MuseMenuActive #u12108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12084
{
	width: 100px;
	min-height: 12px;
	margin-right: -10000px;
	left: 331px;
}

#u12085
{
	width: 100px;
}

#u12085.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u12086-4
{
	width: 90px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12085:hover #u12086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 90px;
	margin: 0px;
}

#u12085.MuseMenuActive #u12086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 90px;
	margin: 0px;
}

#u12620-4
{
	z-index: 45;
	width: 644px;
	min-height: 19px;
	margin-left: 156px;
	margin-top: 2px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 3px;
}

