.version.river_herring_migration_a_complicated_path_the_recovery /* version checker */
{
	color: #000004;
	background-color: #2E3FD9;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.86679748822644px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 1px;
	padding-bottom: 2px;
	width: 0.01px;
}

#u26293-3
{
	z-index: 54;
	width: 960px;
	height: 285px;
	margin-right: -10000px;
}

#u26294
{
	z-index: 57;
	width: 403px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 78px;
}

#u26296
{
	z-index: 59;
	width: 435px;
	height: 264px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 481px;
}

#u26296:hover
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u26296:active
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u26296.MuseLinkActive
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u4478
{
	z-index: 7;
	width: 960px;
	height: 1px;
}

#pu26293-3,#pu13272
{
	width: 0.01px;
}

#u13272
{
	z-index: 49;
	width: 320px;
	margin-right: -10000px;
}

#u13272_img
{
	padding-right: 8px;
}

#u4474
{
	z-index: 4;
	width: 640px;
	margin-right: -10000px;
	left: 320px;
}

#u4477
{
	z-index: 5;
	width: 320px;
	height: 34px;
	margin-right: -10000px;
}

#u4477:hover
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4477:active
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4475
{
	z-index: 6;
	width: 320px;
	height: 34px;
	margin-right: -10000px;
	left: 320px;
}

#u4477.MuseLinkActive,#u4475:hover
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4475:active
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4475.MuseLinkActive
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4550
{
	z-index: 3;
	width: 960px;
	height: 1px;
	margin-top: 1px;
}

#pu20821
{
	width: 0.01px;
	margin-top: 6px;
}

#u20821
{
	z-index: 492;
	width: 960px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u25756-3
{
	z-index: 724;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 191px;
}

#u20353-6
{
	z-index: 469;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
}

#u20348
{
	z-index: 475;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 8px;
	position: relative;
}

#u20500-36
{
	z-index: 433;
	width: 940px;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u20254
{
	z-index: 432;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 10px;
	position: relative;
}

#u20251
{
	z-index: 476;
	width: 1007px;
	background-color: transparent;
	left: -30px;
	margin-top: 11px;
	position: relative;
}

#u20351
{
	z-index: 68;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 12px;
	position: relative;
}

#u20247-4
{
	z-index: 64;
	display: block;
	vertical-align: top;
	margin-top: 6px;
	position: relative;
}

#pu20358
{
	width: 0.01px;
	margin-left: -13px;
	margin-top: 6px;
}

#u20358
{
	z-index: 154;
	width: 973px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#slideshowu20359
{
	z-index: 155;
	width: 0.01px;
	height: 263px;
	position: relative;
}

#u20383
{
	position: absolute;
	width: 578px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 98px;
}

#u20383popup
{
	z-index: 156;
}

#u20384
{
	z-index: 157;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u20404
{
	z-index: 159;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 84px;
}

#u20422
{
	z-index: 161;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u20416
{
	z-index: 163;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 224px;
}

#u20388
{
	z-index: 165;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#u20394
{
	z-index: 167;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}

#u20426
{
	z-index: 169;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 434px;
}

#u20402
{
	z-index: 171;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 504px;
}

#u20384.SSSlideLinkSelected,#u20404.SSSlideLinkSelected,#u20422.SSSlideLinkSelected,#u20416.SSSlideLinkSelected,#u20388.SSSlideLinkSelected,#u20394.SSSlideLinkSelected,#u20426.SSSlideLinkSelected,#u20402.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u20410
{
	z-index: 173;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 14px;
}

#u20406
{
	z-index: 175;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 84px;
}

#u20396
{
	z-index: 177;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 154px;
}

#u20412
{
	z-index: 179;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 224px;
}

#u20418
{
	z-index: 181;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 294px;
}

#u20414
{
	z-index: 183;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 364px;
}

#u20390
{
	z-index: 185;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 434px;
}

#u20398
{
	z-index: 187;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 504px;
}

#u20410.SSSlideLinkSelected,#u20406.SSSlideLinkSelected,#u20396.SSSlideLinkSelected,#u20412.SSSlideLinkSelected,#u20418.SSSlideLinkSelected,#u20414.SSSlideLinkSelected,#u20390.SSSlideLinkSelected,#u20398.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u20420
{
	z-index: 189;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 14px;
}

#u20424
{
	z-index: 191;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 84px;
}

#u20386
{
	z-index: 193;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 154px;
}

#u20408
{
	z-index: 195;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 224px;
}

#u20400
{
	z-index: 197;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 294px;
}

#u20420.SSSlideLinkSelected,#u20424.SSSlideLinkSelected,#u20386.SSSlideLinkSelected,#u20408.SSSlideLinkSelected,#u20400.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 110px -10000px 0px 0px;
}

#u20434
{
	position: absolute;
	width: 341px;
	height: 199px;
	background-color: transparent;
	left: 632px;
}

#u20434popup
{
	z-index: 199;
}

#u20457
{
	z-index: 200;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20475
{
	z-index: 202;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20461
{
	z-index: 204;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20439
{
	z-index: 206;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20473
{
	z-index: 208;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20469
{
	z-index: 210;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20477
{
	z-index: 212;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20455
{
	z-index: 214;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20447
{
	z-index: 216;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20449
{
	z-index: 218;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20435
{
	z-index: 220;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20465
{
	z-index: 222;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20467
{
	z-index: 224;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20453
{
	z-index: 226;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20451
{
	z-index: 228;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20443
{
	z-index: 230;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20445
{
	z-index: 232;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20441
{
	z-index: 234;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20463
{
	z-index: 236;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20471
{
	z-index: 238;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20437
{
	z-index: 240;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20457_clip,#u20475_clip,#u20461_clip,#u20439_clip,#u20473_clip,#u20469_clip,#u20477_clip,#u20455_clip,#u20447_clip,#u20449_clip,#u20435_clip,#u20465_clip,#u20467_clip,#u20453_clip,#u20451_clip,#u20443_clip,#u20445_clip,#u20441_clip,#u20463_clip,#u20471_clip,#u20437_clip
{
	overflow: hidden;
	width: 341px;
	height: 199px;
}

#u20457_img,#u20475_img,#u20461_img,#u20439_img,#u20473_img,#u20469_img,#u20477_img,#u20455_img,#u20447_img,#u20449_img,#u20435_img,#u20465_img,#u20467_img,#u20453_img,#u20451_img,#u20443_img,#u20445_img,#u20441_img,#u20463_img,#u20471_img,#u20437_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u20360
{
	position: absolute;
	width: 586px;
	background-color: transparent;
	top: 162px;
	left: 5px;
}

#u20360popup
{
	z-index: 242;
}

#u20367-9
{
	z-index: 243;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20370-7
{
	z-index: 252;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20374-10
{
	z-index: 259;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20374-7,#u20374-8
{
	font-size: 11px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 1px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

#u20377-9
{
	z-index: 269;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20379-7
{
	z-index: 278;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20381-8
{
	z-index: 285;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20365-8
{
	z-index: 293;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20364-7
{
	z-index: 301;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20362-7
{
	z-index: 308;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20368-8
{
	z-index: 315;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20380-7
{
	z-index: 323;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20371-8
{
	z-index: 330;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20369-7
{
	z-index: 338;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20366-10
{
	z-index: 345;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20375-8
{
	z-index: 355;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20363-8
{
	z-index: 363;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20376-8
{
	z-index: 371;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20361-9
{
	z-index: 379;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20382-7
{
	z-index: 388;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20372-8
{
	z-index: 395;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20378-8
{
	z-index: 403;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u20367-2,#u20370-2,#u20374-2,#u20377-2,#u20379-2,#u20381-2,#u20365-2,#u20364-2,#u20362-2,#u20368-2,#u20380-2,#u20371-2,#u20369-2,#u20366-2,#u20375-2,#u20363-2,#u20376-2,#u20361-2,#u20382-2,#u20372-2,#u20378-2
{
	letter-spacing: 2px;
	font-weight: bold;
}

#u20367-3,#u20370-3,#u20374-3,#u20377-3,#u20379-3,#u20381-3,#u20365-3,#u20364-3,#u20362-3,#u20368-3,#u20380-3,#u20371-3,#u20369-3,#u20366-3,#u20375-3,#u20363-3,#u20376-3,#u20361-3,#u20382-3,#u20372-3,#u20378-3
{
	font-size: 11px;
}

#u20367-7,#u20370-5,#u20377-5,#u20377-7,#u20379-5,#u20381-5,#u20381-6,#u20365-5,#u20365-6,#u20364-5,#u20362-5,#u20368-5,#u20368-6,#u20380-5,#u20371-5,#u20371-6,#u20369-5,#u20366-5,#u20366-7,#u20366-8,#u20375-5,#u20375-6,#u20363-5,#u20363-6,#u20376-5,#u20376-6,#u20361-7,#u20382-5,#u20372-5,#u20372-6,#u20378-5,#u20378-6
{
	font-size: 10px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 1px;
	color: #999999;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
}

#u20432-4
{
	position: absolute;
	width: 40px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 203px;
	left: 683px;
}

#u20432-4popup
{
	z-index: 411;
}

#u20433-4
{
	position: absolute;
	width: 40px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 203px;
	left: 863px;
}

#u20433-4popup
{
	z-index: 415;
}

#u20428-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 203px;
	left: 769px;
}

#u20428-4popup
{
	z-index: 419;
}

#u20429-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 203px;
	left: 738px;
}

#u20429-4popup
{
	z-index: 423;
}

#u20428,#u20429
{
	color: #999999;
}

#u20495-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 203px;
	left: 838px;
}

#u20495-4popup
{
	z-index: 427;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u20496
{
	z-index: 431;
	width: 558px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-left: 13px;
	top: -65px;
	margin-bottom: -1px;
	position: relative;
}

#u20501
{
	z-index: 491;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	position: relative;
	margin-right: -10000px;
	margin-top: 256px;
	left: 13px;
}

#u20253-4
{
	z-index: 478;
	display: block;
	vertical-align: top;
	margin-top: 2px;
	position: relative;
}

#u20248-4
{
	z-index: 483;
	width: 960px;
	min-height: 82px;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u20341
{
	z-index: 482;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 3px;
	position: relative;
}

#u20498-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
}

#u20502-28
{
	z-index: 75;
	width: 960px;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u20357
{
	z-index: 69;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 25px;
	position: relative;
}

#u20249-4
{
	z-index: 487;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
}

#u22819
{
	z-index: 494;
	width: 560px;
	min-height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 200px;
	margin-top: 18px;
	position: relative;
}

#u22821
{
	z-index: 496;
	width: 560px;
	min-height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 200px;
	margin-top: 43px;
	position: relative;
}

#u25767
{
	z-index: 495;
	width: 560px;
	min-height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 200px;
	margin-top: 44px;
	position: relative;
}

#u25765
{
	z-index: 497;
	width: 560px;
	min-height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 200px;
	margin-top: 42px;
	position: relative;
}

#u23101
{
	z-index: 498;
	width: 560px;
	min-height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 200px;
	margin-top: 43px;
	position: relative;
}

#u24931
{
	z-index: 715;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 36px;
	position: relative;
}

#u24929-4
{
	z-index: 613;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
}

#pu20345
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 8px;
}

#u20345
{
	z-index: 74;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	position: relative;
	margin-right: -10000px;
	margin-top: 1024px;
}

#u24930-98
{
	z-index: 617;
	width: 960px;
	min-height: 1030px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u20344-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 5px;
	position: relative;
}

#pu20497-51
{
	width: 0.01px;
	margin-top: 4px;
}

#u20497-51
{
	z-index: 103;
	width: 960px;
	min-height: 590px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u20500-28,#u20500-31,#u20497-6
{
	color: #2DBB31;
}

#u20500-13,#u20500-16,#u20497-12,#u20497-15,#u20497-18,#u20497-21,#u20497-24,#u20497-27,#u20497-30,#u20497-34
{
	font-weight: normal;
}

#u20497-36,#u20497-41
{
	text-align: justify;
	font-weight: bold;
}

#u20497-3,#u20497-8,#u20497-11,#u20497-14,#u20497-17,#u20497-20,#u20497-23,#u20497-26,#u20497-29,#u20497-32,#u20497-33,#u20497-40,#u20497-44,#u20497-45,#u20497-48
{
	text-align: justify;
}

#u20500-11,#u24930-2,#u24930-12,#u24930-23,#u24930-38,#u24930-47,#u24930-56,#u24930-67,#u24930-82,#u24930-93,#u20497-39,#u20497-43,#u20497-47
{
	font-weight: bold;
}

#u25059
{
	z-index: 723;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	position: relative;
	margin-right: -10000px;
	margin-top: 581px;
}

#u25058-7
{
	z-index: 716;
	margin-top: 11px;
	position: relative;
}

#u25058-7_img
{
	display: block;
	vertical-align: top;
}

#u23205
{
	z-index: 499;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 2px;
	position: relative;
}

#u23206-4
{
	z-index: 500;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
}

#u23207
{
	z-index: 504;
	width: 961px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#slideshowu23208
{
	z-index: 505;
	width: 0.01px;
	height: 256px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u23256-4
{
	position: absolute;
	width: 70px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 445px;
}

#u23256-4popup
{
	z-index: 506;
}

#u23210
{
	position: absolute;
	width: 960px;
	height: 163px;
	background-color: transparent;
}

#u23210popup
{
	z-index: 510;
}

#u23211
{
	z-index: 511;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23217
{
	z-index: 513;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23233
{
	z-index: 515;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23219
{
	z-index: 517;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23231
{
	z-index: 519;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23237
{
	z-index: 521;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23213
{
	z-index: 523;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23235
{
	z-index: 525;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23229
{
	z-index: 527;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23227
{
	z-index: 529;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23221
{
	z-index: 531;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23225
{
	z-index: 533;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23223
{
	z-index: 535;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23215
{
	z-index: 537;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23239
{
	position: absolute;
	width: 945px;
	background-color: transparent;
	top: 177px;
	left: 7px;
}

#u23239popup
{
	z-index: 539;
}

#u23245-4
{
	z-index: 540;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23247-4
{
	z-index: 544;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23252-4
{
	z-index: 548;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23244-4
{
	z-index: 552;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23253-4
{
	z-index: 556;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23243-4
{
	z-index: 560;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23242-4
{
	z-index: 564;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23250-4
{
	z-index: 568;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23249-4
{
	z-index: 572;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23248-4
{
	z-index: 576;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23240-4
{
	z-index: 580;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23251-4
{
	z-index: 584;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23241-4
{
	z-index: 588;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23246-4
{
	z-index: 592;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23245-4:hover,#u23247-4:hover,#u23252-4:hover,#u23244-4:hover,#u23253-4:hover,#u23243-4:hover,#u23242-4:hover,#u23250-4:hover,#u23249-4:hover,#u23248-4:hover,#u23240-4:hover,#u23251-4:hover,#u23241-4:hover,#u23246-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 945px;
	margin: 0px -10000px 0px 0px;
}

#u23257-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 373px;
}

#u23257-4popup
{
	z-index: 596;
}

#u23209-4
{
	position: absolute;
	width: 30px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 415px;
}

#u23209-4popup
{
	z-index: 600;
}

#u23288-4
{
	position: absolute;
	width: 30px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 515px;
}

#u23209-4:hover,#u23288-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 30px;
	margin: 0px;
}

#u23288-4popup
{
	z-index: 604;
}

#u23258-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 556px;
}

#u23257-4:hover,#u23258-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 30px;
	margin: 0px;
}

#u23258-4popup
{
	z-index: 608;
}

#u23245-4:hover p,#u23247-4:hover p,#u23252-4:hover p,#u23244-4:hover p,#u23253-4:hover p,#u23243-4:hover p,#u23242-4:hover p,#u23250-4:hover p,#u23249-4:hover p,#u23248-4:hover p,#u23240-4:hover p,#u23251-4:hover p,#u23241-4:hover p,#u23246-4:hover p,#u23257-4:hover p,#u23209-4:hover p,#u23288-4:hover p,#u23258-4:hover p
{
	color: #2DBB31;
	visibility: inherit;
}

#u23307
{
	z-index: 612;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	position: relative;
	margin-right: -10000px;
	margin-top: 209px;
}

#pu26269
{
	width: 0.01px;
	margin-left: 398px;
	margin-top: 7px;
}

#u26269
{
	z-index: 51;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
}

#u26269:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26269:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26270
{
	z-index: 52;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	left: 58px;
}

#u26269.MuseLinkActive,#u26270:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26270:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26271
{
	z-index: 53;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	left: 115px;
}

#u26270.MuseLinkActive,#u26271:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26271:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26271.MuseLinkActive
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4479
{
	z-index: 2;
	width: 960px;
	height: 1px;
	margin-top: 8px;
}

#menuu12069
{
	z-index: 8;
	width: 442px;
	margin-left: 259px;
	margin-top: 8px;
}

#u12077
{
	width: 46px;
	min-height: 12px;
	margin-right: -10000px;
	left: 10px;
}

#u12080
{
	width: 45px;
}

#u12080:hover
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12080:active
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12080.MuseMenuActive
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12083-4
{
	width: 35px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12080:hover #u12083-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12080:active #u12083-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12080.MuseMenuActive #u12083-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12113
{
	width: 80px;
	min-height: 12px;
	margin-right: -10000px;
	left: 58px;
}

#u12116
{
	width: 79px;
}

#u12116:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12116:active
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12116.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12118-4
{
	width: 69px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12116:hover #u12118-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12116:active #u12118-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12116.MuseMenuActive #u12118-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12070
{
	width: 71px;
	min-height: 12px;
	margin-right: -10000px;
	left: 140px;
}

#u12071
{
	width: 70px;
}

#u12071:hover
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12071:active
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12071.MuseMenuActive
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12074-4
{
	width: 60px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12071:hover #u12074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12071:active #u12074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12071.MuseMenuActive #u12074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12120
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	left: 213px;
}

#u12121
{
	width: 50px;
}

#u12121:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12121:active
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12121.MuseMenuActive
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12122-4
{
	width: 40px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12121:hover #u12122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12121:active #u12122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12121.MuseMenuActive #u12122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12106
{
	width: 63px;
	min-height: 12px;
	margin-right: -10000px;
	left: 266px;
}

#u12107
{
	width: 62px;
}

#u12107:hover
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12107:active
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12107.MuseMenuActive
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12108-4
{
	width: 52px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12107:hover #u12108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12107:active #u12108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12107.MuseMenuActive #u12108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12084
{
	width: 100px;
	min-height: 12px;
	margin-right: -10000px;
	left: 331px;
}

#u12085
{
	width: 100px;
}

#u12085.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u12086-4
{
	width: 90px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12085:hover #u12086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 90px;
	margin: 0px;
}

#u12085.MuseMenuActive #u12086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 90px;
	margin: 0px;
}

#u12620-4
{
	z-index: 45;
	width: 644px;
	min-height: 19px;
	margin-left: 156px;
	margin-top: 2px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 3px;
}

