.version.river_herring_migration_a_complicated_path_the_great_decline /* version checker */
{
	color: #0000F1;
	background-color: #1E9714;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 1px;
	padding-bottom: 2px;
	width: 0.01px;
}

#u26293-3
{
	z-index: 54;
	width: 960px;
	height: 285px;
	margin-right: -10000px;
}

#u26294
{
	z-index: 57;
	width: 403px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 78px;
}

#u26296
{
	z-index: 59;
	width: 435px;
	height: 264px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 481px;
}

#u26296:hover
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u26296:active
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u26296.MuseLinkActive
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u4478
{
	z-index: 7;
	width: 960px;
	height: 1px;
}

#pu26293-3,#pu13272
{
	width: 0.01px;
}

#u13272
{
	z-index: 49;
	width: 320px;
	margin-right: -10000px;
}

#u13272_img
{
	padding-right: 8px;
}

#u4474
{
	z-index: 4;
	width: 640px;
	margin-right: -10000px;
	left: 320px;
}

#u4477
{
	z-index: 5;
	width: 320px;
	height: 34px;
	margin-right: -10000px;
}

#u4477:hover
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4477:active
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4475
{
	z-index: 6;
	width: 320px;
	height: 34px;
	margin-right: -10000px;
	left: 320px;
}

#u4477.MuseLinkActive,#u4475:hover
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4475:active
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4475.MuseLinkActive
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4550
{
	z-index: 3;
	width: 960px;
	height: 1px;
	margin-top: 1px;
}

#u20815
{
	z-index: 475;
	width: 960px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u18176-6
{
	z-index: 448;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
}

#u18177
{
	z-index: 454;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 9px;
	position: relative;
}

#u18175-37
{
	z-index: 411;
	width: 865px;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u18174
{
	z-index: 410;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 12px;
	position: relative;
}

#u18179
{
	z-index: 455;
	width: 1007px;
	background-color: transparent;
	left: -30px;
	margin-top: 15px;
	position: relative;
}

#u5158
{
	z-index: 68;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 15px;
	position: relative;
}

#u5157-4
{
	z-index: 64;
	display: block;
	vertical-align: top;
	margin-top: 6px;
	position: relative;
}

#pu17608
{
	width: 0.01px;
	margin-left: -13px;
	margin-top: 6px;
}

#u17608
{
	z-index: 155;
	width: 973px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#slideshowu17610
{
	z-index: 156;
	width: 0.01px;
	height: 263px;
	position: relative;
}

#u17658
{
	position: absolute;
	width: 578px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 98px;
}

#u17658popup
{
	z-index: 157;
}

#u17663
{
	z-index: 158;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u17701
{
	z-index: 160;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 84px;
}

#u17697
{
	z-index: 162;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u17687
{
	z-index: 164;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 224px;
}

#u17693
{
	z-index: 166;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#u17675
{
	z-index: 168;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 364px;
}

#u17665
{
	z-index: 170;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 434px;
}

#u17667
{
	z-index: 172;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 504px;
}

#u17663.SSSlideLinkSelected,#u17701.SSSlideLinkSelected,#u17697.SSSlideLinkSelected,#u17687.SSSlideLinkSelected,#u17693.SSSlideLinkSelected,#u17675.SSSlideLinkSelected,#u17665.SSSlideLinkSelected,#u17667.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17683
{
	z-index: 174;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 14px;
}

#u17677
{
	z-index: 176;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 84px;
}

#u17699
{
	z-index: 178;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 154px;
}

#u17673
{
	z-index: 180;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 224px;
}

#u17661
{
	z-index: 182;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 294px;
}

#u17679
{
	z-index: 184;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 364px;
}

#u17689
{
	z-index: 186;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 434px;
}

#u17669
{
	z-index: 188;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 504px;
}

#u17683.SSSlideLinkSelected,#u17677.SSSlideLinkSelected,#u17699.SSSlideLinkSelected,#u17673.SSSlideLinkSelected,#u17661.SSSlideLinkSelected,#u17679.SSSlideLinkSelected,#u17689.SSSlideLinkSelected,#u17669.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u17671
{
	z-index: 190;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 14px;
}

#u17681
{
	z-index: 192;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 84px;
}

#u17695
{
	z-index: 194;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 154px;
}

#u17671.SSSlideLinkSelected,#u17681.SSSlideLinkSelected,#u17695.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 110px -10000px 0px 0px;
}

#u17612
{
	position: absolute;
	width: 341px;
	height: 199px;
	background-color: transparent;
	left: 632px;
}

#u17612popup
{
	z-index: 196;
}

#u17645
{
	z-index: 197;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17637
{
	z-index: 199;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17627
{
	z-index: 201;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17615
{
	z-index: 203;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17647
{
	z-index: 205;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17625
{
	z-index: 207;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17617
{
	z-index: 209;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17613
{
	z-index: 211;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17639
{
	z-index: 213;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17629
{
	z-index: 215;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17655
{
	z-index: 217;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17623
{
	z-index: 219;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17649
{
	z-index: 221;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17633
{
	z-index: 223;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17653
{
	z-index: 225;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17635
{
	z-index: 227;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17643
{
	z-index: 229;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17641
{
	z-index: 231;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17631
{
	z-index: 233;
	width: 341px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17645_clip,#u17637_clip,#u17627_clip,#u17615_clip,#u17647_clip,#u17625_clip,#u17617_clip,#u17613_clip,#u17639_clip,#u17629_clip,#u17655_clip,#u17623_clip,#u17649_clip,#u17633_clip,#u17653_clip,#u17635_clip,#u17643_clip,#u17641_clip,#u17631_clip
{
	overflow: hidden;
	width: 341px;
	height: 199px;
}

#u17645_img,#u17637_img,#u17627_img,#u17615_img,#u17647_img,#u17625_img,#u17617_img,#u17613_img,#u17639_img,#u17629_img,#u17655_img,#u17623_img,#u17649_img,#u17633_img,#u17653_img,#u17635_img,#u17643_img,#u17641_img,#u17631_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u17724
{
	position: absolute;
	width: 586px;
	background-color: transparent;
	top: 162px;
	left: 5px;
}

#u17724popup
{
	z-index: 235;
}

#u17726-9
{
	z-index: 236;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17738-7
{
	z-index: 245;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17740-10
{
	z-index: 252;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17740-7,#u17740-8
{
	font-size: 11px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 1px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

#u17737-9
{
	z-index: 262;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17730-7
{
	z-index: 271;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17742-8
{
	z-index: 278;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17732-8
{
	z-index: 286;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17731-7
{
	z-index: 294;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17728-7
{
	z-index: 301;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17746-8
{
	z-index: 308;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17743-7
{
	z-index: 316;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17734-7
{
	z-index: 323;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17744-10
{
	z-index: 330;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17733-8
{
	z-index: 340;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17727-8
{
	z-index: 348;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17725-8
{
	z-index: 356;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17729-9
{
	z-index: 364;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17735-8
{
	z-index: 373;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17739-8
{
	z-index: 381;
	width: 566px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u17726-2,#u17738-2,#u17740-2,#u17737-2,#u17730-2,#u17742-2,#u17732-2,#u17731-2,#u17728-2,#u17746-2,#u17743-2,#u17734-2,#u17744-2,#u17733-2,#u17727-2,#u17725-2,#u17729-2,#u17735-2,#u17739-2
{
	letter-spacing: 2px;
	font-weight: bold;
}

#u17726-3,#u17738-3,#u17740-3,#u17737-3,#u17730-3,#u17742-3,#u17732-3,#u17731-3,#u17728-3,#u17746-3,#u17743-3,#u17734-3,#u17744-3,#u17733-3,#u17727-3,#u17725-3,#u17729-3,#u17735-3,#u17739-3
{
	font-size: 11px;
}

#u17726-7,#u17738-5,#u17737-5,#u17737-7,#u17730-5,#u17742-5,#u17742-6,#u17732-5,#u17732-6,#u17731-5,#u17728-5,#u17746-5,#u17746-6,#u17743-5,#u17734-5,#u17744-5,#u17744-7,#u17744-8,#u17733-5,#u17733-6,#u17727-5,#u17727-6,#u17725-5,#u17725-6,#u17729-7,#u17735-5,#u17735-6,#u17739-5,#u17739-6
{
	font-size: 10px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 1px;
	color: #999999;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
}

#u17611-4
{
	position: absolute;
	width: 40px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 203px;
	left: 683px;
}

#u17611-4popup
{
	z-index: 389;
}

#u17706-4
{
	position: absolute;
	width: 40px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 203px;
	left: 863px;
}

#u17706-4popup
{
	z-index: 393;
}

#u17657-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 203px;
	left: 769px;
}

#u17657-4popup
{
	z-index: 397;
}

#u17705-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 203px;
	left: 738px;
}

#u17705-4popup
{
	z-index: 401;
}

#u17657,#u17705
{
	color: #999999;
}

#u17707-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 203px;
	left: 838px;
}

#u17707-4popup
{
	z-index: 405;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u17609
{
	z-index: 409;
	width: 558px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-left: 13px;
	top: -65px;
	margin-bottom: -1px;
	position: relative;
}

#u5156
{
	z-index: 474;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	position: relative;
	margin-right: -10000px;
	margin-top: 256px;
	left: 13px;
}

#u18183-4
{
	z-index: 457;
	display: block;
	vertical-align: top;
	margin-top: 2px;
	position: relative;
}

#u18185-4
{
	z-index: 462;
	width: 960px;
	min-height: 80px;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u18184
{
	z-index: 461;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 5px;
	position: relative;
}

#u5155-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
}

#u5172-28
{
	z-index: 75;
	width: 960px;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u5164
{
	z-index: 69;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 14px;
	position: relative;
}

#u18201-4
{
	z-index: 466;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
}

#u25759
{
	z-index: 593;
	width: 560px;
	min-height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 200px;
	margin-top: 11px;
	position: relative;
}

#u22798
{
	z-index: 592;
	width: 560px;
	min-height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 200px;
	margin-top: 44px;
	position: relative;
}

#u22800
{
	z-index: 594;
	width: 560px;
	min-height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 200px;
	margin-top: 43px;
	position: relative;
}

#u22802
{
	z-index: 595;
	width: 560px;
	min-height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 200px;
	margin-top: 43px;
	position: relative;
}

#u22807
{
	z-index: 596;
	width: 560px;
	min-height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 200px;
	margin-top: 44px;
	position: relative;
}

#u23103
{
	z-index: 597;
	width: 560px;
	min-height: 318px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 200px;
	margin-top: 43px;
	position: relative;
}

#u23112
{
	z-index: 728;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 38px;
	position: relative;
}

#u23110-4
{
	z-index: 598;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
}

#pu5167-4
{
	width: 0.01px;
	margin-left: -351px;
	margin-top: 8px;
}

#u5167-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1322px;
	left: 350px;
}

#u5168
{
	z-index: 74;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	position: relative;
	margin-right: -10000px;
	margin-top: 1313px;
	left: 351px;
}

#u22778-3
{
	z-index: 589;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1101px;
}

#u23111-126
{
	z-index: 602;
	width: 960px;
	min-height: 1336px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 351px;
}

#pu22777-3
{
	width: 0.01px;
	margin-left: -273px;
	margin-top: 7px;
}

#u22777-3
{
	z-index: 586;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
}

#u5174-51
{
	z-index: 103;
	width: 960px;
	min-height: 585px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 272px;
}

#u18175-29,#u18175-32,#u5174-6
{
	color: #2DBB31;
}

#u18175-15,#u18175-18,#u5174-12,#u5174-15,#u5174-18,#u5174-21,#u5174-24,#u5174-27,#u5174-30,#u5174-34
{
	font-weight: normal;
}

#u5174-36,#u5174-41
{
	text-align: justify;
	font-weight: bold;
}

#u5174-3,#u5174-8,#u5174-11,#u5174-14,#u5174-17,#u5174-20,#u5174-23,#u5174-26,#u5174-29,#u5174-32,#u5174-33,#u5174-40,#u5174-44,#u5174-45,#u5174-48
{
	text-align: justify;
}

#u18175-9,#u18175-13,#u23111-2,#u23111-9,#u23111-14,#u23111-23,#u23111-28,#u23111-30,#u23111-35,#u23111-42,#u23111-53,#u23111-68,#u23111-79,#u23111-88,#u23111-115,#u23111-120,#u5174-19,#u5174-39,#u5174-43,#u5174-47
{
	font-weight: bold;
}

#u25053
{
	z-index: 736;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 1px;
	position: relative;
}

#u25052-7
{
	z-index: 729;
	left: -1px;
	margin-top: 13px;
	position: relative;
}

#u25052-7_img
{
	display: block;
	vertical-align: top;
}

#u14651
{
	z-index: 154;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 2px;
	position: relative;
}

#u18202-4
{
	z-index: 470;
	display: block;
	vertical-align: top;
	margin-top: 10px;
	position: relative;
}

#u21145
{
	z-index: 477;
	width: 961px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#slideshowu21146
{
	z-index: 478;
	width: 0.01px;
	height: 256px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u21165-4
{
	position: absolute;
	width: 70px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 445px;
}

#u21165-4popup
{
	z-index: 479;
}

#u21199
{
	position: absolute;
	width: 960px;
	height: 163px;
	background-color: transparent;
}

#u21199popup
{
	z-index: 483;
}

#u21204
{
	z-index: 484;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21202
{
	z-index: 486;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21220
{
	z-index: 488;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23131
{
	z-index: 490;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23143
{
	z-index: 492;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21224
{
	z-index: 494;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21218
{
	z-index: 496;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21222
{
	z-index: 498;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21206
{
	z-index: 500;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21214
{
	z-index: 502;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u23118
{
	z-index: 504;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21210
{
	z-index: 506;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21212
{
	z-index: 508;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21208
{
	z-index: 510;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u21226
{
	position: absolute;
	width: 945px;
	background-color: transparent;
	top: 177px;
	left: 7px;
}

#u21226popup
{
	z-index: 512;
}

#u21236-4
{
	z-index: 513;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u21237-4
{
	z-index: 517;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u21234-4
{
	z-index: 521;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23137-4
{
	z-index: 525;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23149-4
{
	z-index: 529;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u21233-4
{
	z-index: 533;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u21227-4
{
	z-index: 537;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u21235-4
{
	z-index: 541;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u21230-4
{
	z-index: 545;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u21239-4
{
	z-index: 549;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u23124-4
{
	z-index: 553;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u21238-4
{
	z-index: 557;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u21231-4
{
	z-index: 561;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u21229-4
{
	z-index: 565;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u21236-4:hover,#u21237-4:hover,#u21234-4:hover,#u23137-4:hover,#u23149-4:hover,#u21233-4:hover,#u21227-4:hover,#u21235-4:hover,#u21230-4:hover,#u21239-4:hover,#u23124-4:hover,#u21238-4:hover,#u21231-4:hover,#u21229-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 945px;
	margin: 0px -10000px 0px 0px;
}

#u21170-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 373px;
}

#u21170-4popup
{
	z-index: 569;
}

#u21168-4
{
	position: absolute;
	width: 30px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 415px;
}

#u21168-4popup
{
	z-index: 573;
}

#u21171-4
{
	position: absolute;
	width: 30px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 515px;
}

#u21168-4:hover,#u21171-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 30px;
	margin: 0px;
}

#u21171-4popup
{
	z-index: 577;
}

#u21169-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 556px;
}

#u21170-4:hover,#u21169-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 30px;
	margin: 0px;
}

#u21169-4popup
{
	z-index: 581;
}

#u21236-4:hover p,#u21237-4:hover p,#u21234-4:hover p,#u23137-4:hover p,#u23149-4:hover p,#u21233-4:hover p,#u21227-4:hover p,#u21235-4:hover p,#u21230-4:hover p,#u21239-4:hover p,#u23124-4:hover p,#u21238-4:hover p,#u21231-4:hover p,#u21229-4:hover p,#u21170-4:hover p,#u21168-4:hover p,#u21171-4:hover p,#u21169-4:hover p
{
	color: #2DBB31;
	visibility: inherit;
}

#u21240
{
	z-index: 585;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	position: relative;
	margin-right: -10000px;
	margin-top: 209px;
}

#pu26269
{
	width: 0.01px;
	margin-left: 398px;
	margin-top: 8px;
}

#u26269
{
	z-index: 51;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
}

#u26269:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26269:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26270
{
	z-index: 52;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	left: 58px;
}

#u26269.MuseLinkActive,#u26270:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26270:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26271
{
	z-index: 53;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	left: 115px;
}

#u26270.MuseLinkActive,#u26271:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26271:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26271.MuseLinkActive
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4479
{
	z-index: 2;
	width: 960px;
	height: 1px;
	margin-top: 8px;
}

#menuu12069
{
	z-index: 8;
	width: 442px;
	margin-left: 259px;
	margin-top: 8px;
}

#u12077
{
	width: 46px;
	min-height: 12px;
	margin-right: -10000px;
	left: 10px;
}

#u12080
{
	width: 45px;
}

#u12080:hover
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12080:active
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12080.MuseMenuActive
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12083-4
{
	width: 35px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12080:hover #u12083-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12080:active #u12083-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12080.MuseMenuActive #u12083-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12113
{
	width: 80px;
	min-height: 12px;
	margin-right: -10000px;
	left: 58px;
}

#u12116
{
	width: 79px;
}

#u12116:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12116:active
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12116.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12118-4
{
	width: 69px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12116:hover #u12118-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12116:active #u12118-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12116.MuseMenuActive #u12118-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12070
{
	width: 71px;
	min-height: 12px;
	margin-right: -10000px;
	left: 140px;
}

#u12071
{
	width: 70px;
}

#u12071:hover
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12071:active
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12071.MuseMenuActive
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12074-4
{
	width: 60px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12071:hover #u12074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12071:active #u12074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12071.MuseMenuActive #u12074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12120
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	left: 213px;
}

#u12121
{
	width: 50px;
}

#u12121:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12121:active
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12121.MuseMenuActive
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12122-4
{
	width: 40px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12121:hover #u12122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12121:active #u12122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12121.MuseMenuActive #u12122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12106
{
	width: 63px;
	min-height: 12px;
	margin-right: -10000px;
	left: 266px;
}

#u12107
{
	width: 62px;
}

#u12107:hover
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12107:active
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12107.MuseMenuActive
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12108-4
{
	width: 52px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12107:hover #u12108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12107:active #u12108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12107.MuseMenuActive #u12108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12084
{
	width: 100px;
	min-height: 12px;
	margin-right: -10000px;
	left: 331px;
}

#u12085
{
	width: 100px;
}

#u12085.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u12086-4
{
	width: 90px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12085:hover #u12086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 90px;
	margin: 0px;
}

#u12085.MuseMenuActive #u12086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 90px;
	margin: 0px;
}

#u12620-4
{
	z-index: 45;
	width: 644px;
	min-height: 19px;
	margin-left: 156px;
	margin-top: 2px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 3px;
}

