.version.sd_contact /* version checker */
{
	color: #000003;
	background-color: #8DB3C8;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 700px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

.gs2nd-Menu-Buttons
{
	border-style: solid;
	border-color: transparent;
	background-color: transparent;
	border-radius: -1px;
	border-width: 0px 1px 0px 0px;
}

#page_position_content
{
	padding-top: 1px;
	padding-bottom: 2px;
	width: 0.01px;
}

#pu26309-3
{
	width: 0.01px;
}

#u26309-3
{
	z-index: 74;
	width: 960px;
	height: 285px;
	margin-right: -10000px;
}

#u26310
{
	z-index: 77;
	width: 403px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 78px;
}

#u26312
{
	z-index: 79;
	width: 435px;
	height: 264px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 481px;
}

#u26312:hover
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u26312:active
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u26312.MuseLinkActive
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u4310
{
	z-index: 6;
	width: 960px;
	height: 1px;
	top: -1px;
	margin-bottom: -1px;
}

#pu4268
{
	width: 0.01px;
	margin-top: 1px;
}

#u4268
{
	z-index: 3;
	width: 640px;
	margin-right: -10000px;
}

#u4269
{
	z-index: 5;
	width: 320px;
	height: 34px;
	margin-right: -10000px;
}

#u4269:hover
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4269:active
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4271
{
	z-index: 4;
	width: 320px;
	height: 34px;
	margin-right: -10000px;
	left: 320px;
}

#u4269.MuseLinkActive,#u4271:hover
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4271:active
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4271.MuseLinkActive
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13246
{
	z-index: 69;
	width: 320px;
	margin-right: -10000px;
	left: 640px;
}

#u13246_img
{
	padding-right: 8px;
}

#u4208
{
	z-index: 2;
	width: 960px;
	height: 1px;
}

#menuu4273
{
	z-index: 7;
	width: 279px;
	margin-left: 341px;
	margin-top: 11px;
}

#u4303
{
	width: 71px;
	min-height: 14px;
	margin-right: -10000px;
	left: 10px;
}

#u4306
{
	width: 70px;
	padding-bottom: 2px;
}

#u4306:hover
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u4307-4
{
	width: 58px;
	min-height: 12px;
	margin-right: -10000px;
	top: 1px;
	left: 6px;
}

#u4306:hover #u4307-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u4306.MuseMenuActive #u4307-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u4289
{
	width: 110px;
	min-height: 14px;
	margin-right: -10000px;
	left: 83px;
}

#u4290
{
	width: 109px;
	padding-bottom: 2px;
}

#u4290:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u4290.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u4292-4
{
	width: 97px;
	min-height: 12px;
	margin-right: -10000px;
	top: 1px;
	left: 6px;
}

#u4290:hover #u4292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u4290.MuseMenuActive #u4292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u4296
{
	width: 73px;
	min-height: 14px;
	margin-right: -10000px;
	left: 195px;
}

#u4297
{
	width: 73px;
	padding-bottom: 2px;
}

#u4297:hover
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u4297.MuseMenuActive
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u4298-4
{
	width: 62px;
	min-height: 12px;
	margin-right: -10000px;
	top: 1px;
	left: 5px;
}

#u4297:hover #u4298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u4297.MuseMenuActive #u4298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u4272
{
	z-index: 26;
	width: 960px;
	height: 1px;
	margin-top: 11px;
}

#u25251
{
	z-index: 111;
	width: 960px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u25251_img
{
	padding-right: 2px;
}

#pu4334-4
{
	width: 0.01px;
	margin-top: 21px;
}

#u4334-4
{
	z-index: 80;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u4338-6
{
	z-index: 92;
	width: 481px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 224px;
}

#u6282
{
	z-index: 106;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 12px;
	position: relative;
}

#pu6283-4
{
	width: 0.01px;
	margin-top: 11px;
}

#u6283-4
{
	z-index: 107;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u4339
{
	z-index: 98;
	width: 200px;
	min-height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u6279
{
	z-index: 104;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 9px;
	position: relative;
}

#pu4336-4
{
	width: 0.01px;
	margin-top: 9px;
}

#u4336-4
{
	z-index: 84;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u26628
{
	z-index: 113;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 206px;
	background: transparent url("../images/facebookg-normal.png") no-repeat left top;
	background-size: contain;
}

#u26628:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/facebookg-rollover.png") no-repeat left top;
	background-size: contain;
}

#u26628:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/facebookg-down.png") no-repeat left top;
	background-size: contain;
}

#u26628.MuseLinkActive
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/facebookg-active.png") no-repeat left top;
	background-size: contain;
}

#u26629
{
	z-index: 114;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 274px;
	background: transparent url("../images/twitterg-normal.png") no-repeat left top;
	background-size: contain;
}

#u26629:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/twitterg-rollover.png") no-repeat left top;
	background-size: contain;
}

#u26629:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/twitterg-down.png") no-repeat left top;
	background-size: contain;
}

#u26629.MuseLinkActive
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/twitterg-active.png") no-repeat left top;
	background-size: contain;
}

#u26630
{
	z-index: 115;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 342px;
	background: transparent url("../images/youtube2g-normal.png") no-repeat left top;
	background-size: contain;
}

#u26630:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/youtube2g-rollover.png") no-repeat left top;
	background-size: contain;
}

#u26630:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/youtube2g-down.png") no-repeat left top;
	background-size: contain;
}

#u26630.MuseLinkActive
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/youtube2g-active.png") no-repeat left top;
	background-size: contain;
}

#u26631
{
	z-index: 116;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 410px;
	background: transparent url("../images/vimeog.png") no-repeat left top;
	background-size: contain;
}

#u26631:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/vimeog-rollover.png") no-repeat left top;
	background-size: contain;
}

#u26631:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/vimeog-down.png") no-repeat left top;
	background-size: contain;
}

#u26631.MuseLinkActive
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/vimeog-active.png") no-repeat left top;
	background-size: contain;
}

#u26653
{
	z-index: 117;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 477px;
	background: transparent url("../images/tumblrg.png") no-repeat left top;
	background-size: contain;
}

#u26653:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/tumblrg-rollover.png") no-repeat left top;
	background-size: contain;
}

#u26653:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/tumblrg-down.png") no-repeat left top;
	background-size: contain;
}

#u26653.MuseLinkActive
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/tumblrg-active.png") no-repeat left top;
	background-size: contain;
}

#u26675
{
	z-index: 118;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 545px;
	background: transparent url("../images/g-.png") no-repeat left top;
	background-size: contain;
}

#u26675:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/g--rollover.png") no-repeat left top;
	background-size: contain;
}

#u26675:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/g--down.png") no-repeat left top;
	background-size: contain;
}

#u26675.MuseLinkActive
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/g--active.png") no-repeat left top;
	background-size: contain;
}

#u6280
{
	z-index: 105;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 8px;
	position: relative;
}

#pu4337-4
{
	width: 0.01px;
	margin-top: 15px;
}

#u4337-4
{
	z-index: 88;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u4341-4
{
	z-index: 99;
	width: 424px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 225px;
}

#u4342
{
	z-index: 103;
	width: 960px;
	min-height: 767px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#pu26275
{
	width: 0.01px;
	margin-left: 398px;
	margin-top: 8px;
}

#u26275
{
	z-index: 71;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
}

#u26275:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26275:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26276
{
	z-index: 72;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	left: 58px;
}

#u26275.MuseLinkActive,#u26276:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26276:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26277
{
	z-index: 73;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	left: 115px;
}

#u26276.MuseLinkActive,#u26277:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26277:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26277.MuseLinkActive
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6852
{
	z-index: 27;
	width: 960px;
	height: 1px;
	margin-top: 8px;
}

#menuu12185
{
	z-index: 28;
	width: 442px;
	margin-left: 259px;
	margin-top: 8px;
}

#u12193
{
	width: 46px;
	min-height: 12px;
	margin-right: -10000px;
	left: 10px;
}

#u12196
{
	width: 45px;
}

#u12196:hover
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12196:active
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12196.MuseMenuActive
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12199-4
{
	width: 35px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12196:hover #u12199-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12196:active #u12199-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12196.MuseMenuActive #u12199-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12229
{
	width: 80px;
	min-height: 12px;
	margin-right: -10000px;
	left: 58px;
}

#u12232
{
	width: 79px;
}

#u12232:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12232:active
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12232.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12234-4
{
	width: 69px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12232:hover #u12234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12232:active #u12234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12232.MuseMenuActive #u12234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12186
{
	width: 71px;
	min-height: 12px;
	margin-right: -10000px;
	left: 140px;
}

#u12187
{
	width: 70px;
}

#u4306.MuseMenuActive,#u12187:hover
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12187:active
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12187.MuseMenuActive
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12190-4
{
	width: 60px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12187:hover #u12190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12187:active #u12190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12187.MuseMenuActive #u12190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12236
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	left: 213px;
}

#u12237
{
	width: 50px;
}

#u12237:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12237:active
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12237.MuseMenuActive
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12238-4
{
	width: 40px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12237:hover #u12238-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12237:active #u12238-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12237.MuseMenuActive #u12238-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12222
{
	width: 63px;
	min-height: 12px;
	margin-right: -10000px;
	left: 266px;
}

#u12223
{
	width: 62px;
}

#u12223:hover
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12223:active
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12223.MuseMenuActive
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12224-4
{
	width: 52px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12223:hover #u12224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12223:active #u12224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12223.MuseMenuActive #u12224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12200
{
	width: 100px;
	min-height: 12px;
	margin-right: -10000px;
	left: 331px;
}

#u12201
{
	width: 100px;
}

#u12201.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u12202-4
{
	width: 90px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12201:hover #u12202-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 90px;
	margin: 0px;
}

#u12201.MuseMenuActive #u12202-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 90px;
	margin: 0px;
}

#u12622-4
{
	z-index: 65;
	width: 644px;
	min-height: 19px;
	margin-left: 156px;
	margin-top: 2px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 3px;
}

