.version.the_avifauna_puzzle /* version checker */
{
	color: #0000F5;
	background-color: #CF41B0;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 1px;
	padding-bottom: 2px;
	width: 0.01px;
}

#u26293-3
{
	z-index: 54;
	width: 960px;
	height: 285px;
	margin-right: -10000px;
}

#u26294
{
	z-index: 57;
	width: 403px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 78px;
}

#u26296
{
	z-index: 59;
	width: 435px;
	height: 264px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 481px;
}

#u26296:hover
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u26296:active
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u26296.MuseLinkActive
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u4478
{
	z-index: 7;
	width: 960px;
	height: 1px;
}

#pu26293-3,#pu13272
{
	width: 0.01px;
}

#u13272
{
	z-index: 49;
	width: 320px;
	margin-right: -10000px;
}

#u13272_img
{
	padding-right: 8px;
}

#u4474
{
	z-index: 4;
	width: 640px;
	margin-right: -10000px;
	left: 320px;
}

#u4477
{
	z-index: 5;
	width: 320px;
	height: 34px;
	margin-right: -10000px;
}

#u4477:hover
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4477:active
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4475
{
	z-index: 6;
	width: 320px;
	height: 34px;
	margin-right: -10000px;
	left: 320px;
}

#u4477.MuseLinkActive,#u4475:hover
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4475:active
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4475.MuseLinkActive
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4550
{
	z-index: 3;
	width: 960px;
	height: 1px;
	margin-top: 1px;
}

#u5299
{
	z-index: 82;
	width: 960px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u5387-4
{
	z-index: 133;
	display: block;
	vertical-align: top;
	margin-top: 10px;
	position: relative;
}

#u18890
{
	z-index: 139;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 4px;
	position: relative;
}

#u5304-21
{
	z-index: 84;
	width: 908px;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u5219
{
	z-index: 64;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 12px;
	position: relative;
}

#u5218-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	margin-top: 6px;
	position: relative;
}

#u5305-4
{
	z-index: 105;
	width: 960px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u5221
{
	z-index: 69;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 12px;
	position: relative;
}

#u5220-4
{
	z-index: 65;
	display: block;
	vertical-align: top;
	margin-top: 7px;
	position: relative;
}

#u5306-20
{
	z-index: 109;
	width: 652px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u5304-2,#u5306,#u5306-4,#u5306-7,#u5306-10,#u5306-13,#u5306-16
{
	font-weight: bold;
}

#u5226
{
	z-index: 80;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 12px;
	position: relative;
}

#u5222-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	margin-top: 7px;
	position: relative;
}

#pu5224
{
	width: 0.01px;
	margin-top: 6px;
}

#u5224
{
	z-index: 78;
	width: 433px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5389
{
	z-index: 137;
	width: 433px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 527px;
}

#u5227
{
	z-index: 81;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 18px;
	position: relative;
}

#u5223-4
{
	z-index: 74;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

#u5312-4
{
	z-index: 129;
	width: 433px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u24384
{
	z-index: 140;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 7px;
	position: relative;
}

#u24385-4
{
	z-index: 141;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
}

#u24386
{
	z-index: 145;
	width: 961px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#slideshowu24387
{
	z-index: 146;
	width: 0.01px;
	height: 256px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u24435-4
{
	position: absolute;
	width: 70px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 445px;
}

#u24435-4popup
{
	z-index: 147;
}

#u24389
{
	position: absolute;
	width: 960px;
	height: 163px;
	background-color: transparent;
}

#u24389popup
{
	z-index: 151;
}

#u24390
{
	z-index: 152;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24396
{
	z-index: 154;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24412
{
	z-index: 156;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24398
{
	z-index: 158;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24410
{
	z-index: 160;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24416
{
	z-index: 162;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24392
{
	z-index: 164;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24414
{
	z-index: 166;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24408
{
	z-index: 168;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24406
{
	z-index: 170;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24400
{
	z-index: 172;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24404
{
	z-index: 174;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24402
{
	z-index: 176;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24394
{
	z-index: 178;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24418
{
	position: absolute;
	width: 945px;
	background-color: transparent;
	top: 177px;
	left: 7px;
}

#u24418popup
{
	z-index: 180;
}

#u24424-4
{
	z-index: 181;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24426-4
{
	z-index: 185;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24431-4
{
	z-index: 189;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24423-4
{
	z-index: 193;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24432-4
{
	z-index: 197;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24422-4
{
	z-index: 201;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24421-4
{
	z-index: 205;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24429-4
{
	z-index: 209;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24428-4
{
	z-index: 213;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24427-4
{
	z-index: 217;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24419-4
{
	z-index: 221;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24430-4
{
	z-index: 225;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24420-4
{
	z-index: 229;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24425-4
{
	z-index: 233;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24424-4:hover,#u24426-4:hover,#u24431-4:hover,#u24423-4:hover,#u24432-4:hover,#u24422-4:hover,#u24421-4:hover,#u24429-4:hover,#u24427-4:hover,#u24419-4:hover,#u24430-4:hover,#u24420-4:hover,#u24425-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 945px;
	margin: 0px -10000px 0px 0px;
}

#u24436-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 373px;
}

#u24436-4popup
{
	z-index: 237;
}

#u24388-4
{
	position: absolute;
	width: 30px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 415px;
}

#u24388-4popup
{
	z-index: 241;
}

#u24467-4
{
	position: absolute;
	width: 30px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 515px;
}

#u24388-4:hover,#u24467-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 30px;
	margin: 0px;
}

#u24467-4popup
{
	z-index: 245;
}

#u24437-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 556px;
}

#u24436-4:hover,#u24437-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 30px;
	margin: 0px;
}

#u24437-4popup
{
	z-index: 249;
}

#u24424-4:hover p,#u24426-4:hover p,#u24431-4:hover p,#u24423-4:hover p,#u24432-4:hover p,#u24422-4:hover p,#u24421-4:hover p,#u24429-4:hover p,#u24427-4:hover p,#u24419-4:hover p,#u24430-4:hover p,#u24420-4:hover p,#u24425-4:hover p,#u24436-4:hover p,#u24388-4:hover p,#u24467-4:hover p,#u24437-4:hover p
{
	color: #2DBB31;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u24486
{
	z-index: 253;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	position: relative;
	margin-right: -10000px;
	margin-top: 209px;
}

#pu26269
{
	width: 0.01px;
	margin-left: 398px;
	margin-top: 8px;
}

#u26269
{
	z-index: 51;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
}

#u26269:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26269:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26270
{
	z-index: 52;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	left: 58px;
}

#u26269.MuseLinkActive,#u26270:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26270:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26271
{
	z-index: 53;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	left: 115px;
}

#u26270.MuseLinkActive,#u26271:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26271:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26271.MuseLinkActive
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4479
{
	z-index: 2;
	width: 960px;
	height: 1px;
	margin-top: 8px;
}

#menuu12069
{
	z-index: 8;
	width: 442px;
	margin-left: 259px;
	margin-top: 8px;
}

#u12077
{
	width: 46px;
	min-height: 12px;
	margin-right: -10000px;
	left: 10px;
}

#u12080
{
	width: 45px;
}

#u12080:hover
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12080:active
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12080.MuseMenuActive
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12083-4
{
	width: 35px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12080:hover #u12083-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12080:active #u12083-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12080.MuseMenuActive #u12083-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12113
{
	width: 80px;
	min-height: 12px;
	margin-right: -10000px;
	left: 58px;
}

#u12116
{
	width: 79px;
}

#u12116:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12116:active
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12116.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12118-4
{
	width: 69px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12116:hover #u12118-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12116:active #u12118-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12116.MuseMenuActive #u12118-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12070
{
	width: 71px;
	min-height: 12px;
	margin-right: -10000px;
	left: 140px;
}

#u12071
{
	width: 70px;
}

#u12071:hover
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12071:active
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12071.MuseMenuActive
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12074-4
{
	width: 60px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12071:hover #u12074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12071:active #u12074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12071.MuseMenuActive #u12074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12120
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	left: 213px;
}

#u12121
{
	width: 50px;
}

#u12121:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12121:active
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12121.MuseMenuActive
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12122-4
{
	width: 40px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12121:hover #u12122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12121:active #u12122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12121.MuseMenuActive #u12122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12106
{
	width: 63px;
	min-height: 12px;
	margin-right: -10000px;
	left: 266px;
}

#u12107
{
	width: 62px;
}

#u12107:hover
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12107:active
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12107.MuseMenuActive
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12108-4
{
	width: 52px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12107:hover #u12108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12107:active #u12108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12107.MuseMenuActive #u12108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12084
{
	width: 100px;
	min-height: 12px;
	margin-right: -10000px;
	left: 331px;
}

#u12085
{
	width: 100px;
}

#u12085.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u12086-4
{
	width: 90px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12085:hover #u12086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 90px;
	margin: 0px;
}

#u12085.MuseMenuActive #u12086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 90px;
	margin: 0px;
}

#u12620-4
{
	z-index: 45;
	width: 644px;
	min-height: 19px;
	margin-left: 156px;
	margin-top: 2px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 3px;
}

