.version.the_benthos_opportunists_a_natural_history /* version checker */
{
	color: #0000FD;
	background-color: #A5F2F3;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.5167974882256px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 1px;
	padding-bottom: 2px;
	width: 0.01px;
}

#u26293-3
{
	z-index: 54;
	width: 960px;
	height: 285px;
	margin-right: -10000px;
}

#u26294
{
	z-index: 57;
	width: 403px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 78px;
}

#u26296
{
	z-index: 59;
	width: 435px;
	height: 264px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 481px;
}

#u26296:hover
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u26296:active
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u26296.MuseLinkActive
{
	width: 435px;
	height: 264px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u4478
{
	z-index: 7;
	width: 960px;
	height: 1px;
}

#pu26293-3,#pu13272
{
	width: 0.01px;
}

#u13272
{
	z-index: 49;
	width: 320px;
	margin-right: -10000px;
}

#u13272_img
{
	padding-right: 8px;
}

#u4474
{
	z-index: 4;
	width: 640px;
	margin-right: -10000px;
	left: 320px;
}

#u4477
{
	z-index: 5;
	width: 320px;
	height: 34px;
	margin-right: -10000px;
}

#u4477:hover
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4477:active
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4475
{
	z-index: 6;
	width: 320px;
	height: 34px;
	margin-right: -10000px;
	left: 320px;
}

#u4477.MuseLinkActive,#u4475:hover
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4475:active
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4475.MuseLinkActive
{
	width: 320px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4550
{
	z-index: 3;
	width: 960px;
	height: 1px;
	margin-top: 1px;
}

#u4651
{
	z-index: 60;
	width: 960px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u5041-4
{
	z-index: 84;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

#u18888
{
	z-index: 130;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 2px;
	position: relative;
}

#u5040-21
{
	z-index: 63;
	width: 683px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u5040-2
{
	font-weight: bold;
}

#u5044
{
	z-index: 88;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 10px;
	position: relative;
}

#u5045-4
{
	z-index: 89;
	display: block;
	vertical-align: top;
	margin-top: 7px;
	position: relative;
}

#u5046-4
{
	z-index: 93;
	width: 960px;
	background-color: transparent;
	letter-spacing: 0px;
	position: relative;
}

#u4656
{
	z-index: 62;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 12px;
	position: relative;
}

#u5047-4
{
	z-index: 97;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
}

#u7171-11
{
	z-index: 119;
	width: 960px;
	background-color: transparent;
	letter-spacing: 0px;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#u5050
{
	z-index: 101;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 13px;
	position: relative;
}

#u5051-4
{
	z-index: 102;
	display: block;
	vertical-align: top;
	margin-top: 6px;
	position: relative;
}

#pu5052
{
	width: 0.01px;
	margin-top: 1px;
}

#u5052
{
	z-index: 106;
	width: 433px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5057
{
	z-index: 108;
	width: 433px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 527px;
}

#u5057_clip
{
	overflow: hidden;
	width: 433px;
	height: 281px;
}

#u5057_img
{
	margin-right: -2px;
}

#u5062
{
	z-index: 118;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 18px;
	position: relative;
}

#u5060-4
{
	z-index: 110;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
}

#u5061-4
{
	z-index: 114;
	width: 960px;
	min-height: 19px;
	background-color: transparent;
	position: relative;
}

#u24646
{
	z-index: 131;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	margin-top: 9px;
	position: relative;
}

#u24647-4
{
	z-index: 132;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

#u24648
{
	z-index: 136;
	width: 961px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#slideshowu24649
{
	z-index: 137;
	width: 0.01px;
	height: 256px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u24697-4
{
	position: absolute;
	width: 70px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 445px;
}

#u24697-4popup
{
	z-index: 138;
}

#u24651
{
	position: absolute;
	width: 960px;
	height: 163px;
	background-color: transparent;
}

#u24651popup
{
	z-index: 142;
}

#u24652
{
	z-index: 143;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24658
{
	z-index: 145;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24674
{
	z-index: 147;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24660
{
	z-index: 149;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24672
{
	z-index: 151;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24678
{
	z-index: 153;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24654
{
	z-index: 155;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24676
{
	z-index: 157;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24670
{
	z-index: 159;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24668
{
	z-index: 161;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24662
{
	z-index: 163;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24666
{
	z-index: 165;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24664
{
	z-index: 167;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24656
{
	z-index: 169;
	width: 960px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u24680
{
	position: absolute;
	width: 945px;
	background-color: transparent;
	top: 177px;
	left: 7px;
}

#u24680popup
{
	z-index: 171;
}

#u24686-4
{
	z-index: 172;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24688-4
{
	z-index: 176;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24693-4
{
	z-index: 180;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24685-4
{
	z-index: 184;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24694-4
{
	z-index: 188;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24684-4
{
	z-index: 192;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24683-4
{
	z-index: 196;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24691-4
{
	z-index: 200;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24690-4
{
	z-index: 204;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24689-4
{
	z-index: 208;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24681-4
{
	z-index: 212;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24692-4
{
	z-index: 216;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24682-4
{
	z-index: 220;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24687-4
{
	z-index: 224;
	width: 945px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	color: #7F7F7F;
	text-align: center;
	letter-spacing: 1px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u24686-4:hover,#u24688-4:hover,#u24693-4:hover,#u24685-4:hover,#u24694-4:hover,#u24684-4:hover,#u24683-4:hover,#u24691-4:hover,#u24690-4:hover,#u24689-4:hover,#u24681-4:hover,#u24692-4:hover,#u24682-4:hover,#u24687-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 945px;
	margin: 0px -10000px 0px 0px;
}

#u24698-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 373px;
}

#u24698-4popup
{
	z-index: 228;
}

#u24650-4
{
	position: absolute;
	width: 30px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 415px;
}

#u24650-4popup
{
	z-index: 232;
}

#u24729-4
{
	position: absolute;
	width: 30px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 515px;
}

#u24650-4:hover,#u24729-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 30px;
	margin: 0px;
}

#u24729-4popup
{
	z-index: 236;
}

#u24699-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.4;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	top: 225px;
	left: 556px;
}

#u24698-4:hover,#u24699-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 30px;
	margin: 0px;
}

#u24699-4popup
{
	z-index: 240;
}

#u24686-4:hover p,#u24688-4:hover p,#u24693-4:hover p,#u24685-4:hover p,#u24694-4:hover p,#u24684-4:hover p,#u24683-4:hover p,#u24691-4:hover p,#u24690-4:hover p,#u24689-4:hover p,#u24681-4:hover p,#u24692-4:hover p,#u24682-4:hover p,#u24687-4:hover p,#u24698-4:hover p,#u24650-4:hover p,#u24729-4:hover p,#u24699-4:hover p
{
	color: #2DBB31;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u24748
{
	z-index: 244;
	width: 960px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C7C7;
	position: relative;
	margin-right: -10000px;
	margin-top: 209px;
}

#pu26269
{
	width: 0.01px;
	margin-left: 398px;
	margin-top: 7px;
}

#u26269
{
	z-index: 51;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
}

#u26269:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26269:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26270
{
	z-index: 52;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	left: 58px;
}

#u26269.MuseLinkActive,#u26270:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26270:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26271
{
	z-index: 53;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
	left: 115px;
}

#u26270.MuseLinkActive,#u26271:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26271:active
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u26271.MuseLinkActive
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4479
{
	z-index: 2;
	width: 960px;
	height: 1px;
	margin-top: 8px;
}

#menuu12069
{
	z-index: 8;
	width: 442px;
	margin-left: 259px;
	margin-top: 8px;
}

#u12077
{
	width: 46px;
	min-height: 12px;
	margin-right: -10000px;
	left: 10px;
}

#u12080
{
	width: 45px;
}

#u12080:hover
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12080:active
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12080.MuseMenuActive
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u12083-4
{
	width: 35px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12080:hover #u12083-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12080:active #u12083-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12080.MuseMenuActive #u12083-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 35px;
	margin: 0px;
}

#u12113
{
	width: 80px;
	min-height: 12px;
	margin-right: -10000px;
	left: 58px;
}

#u12116
{
	width: 79px;
}

#u12116:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12116:active
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12116.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u12118-4
{
	width: 69px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12116:hover #u12118-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12116:active #u12118-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12116.MuseMenuActive #u12118-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px;
}

#u12070
{
	width: 71px;
	min-height: 12px;
	margin-right: -10000px;
	left: 140px;
}

#u12071
{
	width: 70px;
}

#u12071:hover
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12071:active
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12071.MuseMenuActive
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u12074-4
{
	width: 60px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12071:hover #u12074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12071:active #u12074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12071.MuseMenuActive #u12074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 60px;
	margin: 0px;
}

#u12120
{
	width: 51px;
	min-height: 12px;
	margin-right: -10000px;
	left: 213px;
}

#u12121
{
	width: 50px;
}

#u12121:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12121:active
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12121.MuseMenuActive
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u12122-4
{
	width: 40px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12121:hover #u12122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12121:active #u12122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12121.MuseMenuActive #u12122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 40px;
	margin: 0px;
}

#u12106
{
	width: 63px;
	min-height: 12px;
	margin-right: -10000px;
	left: 266px;
}

#u12107
{
	width: 62px;
}

#u12107:hover
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12107:active
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12107.MuseMenuActive
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
}

#u12108-4
{
	width: 52px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12107:hover #u12108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12107:active #u12108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12107.MuseMenuActive #u12108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 52px;
	margin: 0px;
}

#u12084
{
	width: 100px;
	min-height: 12px;
	margin-right: -10000px;
	left: 331px;
}

#u12085
{
	width: 100px;
}

#u12085.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u12086-4
{
	width: 90px;
	min-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	left: -6px;
}

#u12085:hover #u12086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 90px;
	margin: 0px;
}

#u12085.MuseMenuActive #u12086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 90px;
	margin: 0px;
}

#u12620-4
{
	z-index: 45;
	width: 644px;
	min-height: 19px;
	margin-left: 156px;
	margin-top: 2px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 3px;
}

